## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-shared-helper-scripts
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime
Homepage: https://github.com/Whonix/anon-shared-helper-scripts
Vcs-Browser: https://github.com/Whonix/anon-shared-helper-scripts
Vcs-Git: https://github.com/Whonix/anon-shared-helper-scripts.git
Standards-Version: 3.9.4

Package: anon-shared-helper-scripts
Architecture: all
Depends: sudo, python, python-support (>= 0.90), python-stem,
 ${misc:Depends}
Description: Helper scripts useful for Anonymizing Linux Distributions
 Library that can be used by other (anonymity related) packages that want to
 programmatically get information about states of Tor. Common code, that is
 often required. Includes bash and Python helper scripts.
